/* Effect */

/* ========== SECTION 1 - content animation ========== */
.section-one > .fp-tableCell h1 {
  transform: translateY(-1000px);
  opacity: 0;
  transition: transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
  opacity 0.8s ease-in-out;
}
.section-one > .fp-tableCell h6 {
  opacity: 0;
  transition: transform 1s cubic-bezier(0.16, 0.68, 0.43, 0.99),
  opacity 0.8s ease-in-out;
}

.section-one > .fp-tableCell .login-form-box {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
  opacity 0.8s ease-in-out;
}

.section-one > .fp-tableCell .popup {
    transform: translateY(1000px);
  opacity: 0;
  transition: transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity 0.66s ease-in-out;
}

.section-one.active > .fp-tableCell h1 {
  transform: translateY(0);
  opacity: 1;
}

.section-one.active > .fp-tableCell h6 {
  opacity: 1;
}

.section-one.active > .fp-tableCell .login-form-box {
  transform: translateX(0);
  opacity: 1;
}

.section-one.active > .fp-tableCell .popup {
  transform: translateY(0);
  opacity: 1;
}

.section-one.active > .fp-tableCell h1 {
  transition-delay: 0.66s;
}

.section-one.active > .fp-tableCell h6 {
  transition-delay: 0.66s;
}

.section-one.active > .fp-tableCell .login-form-box {
  transition-delay: 0.66s;
}

.section-one.active > .fp-tableCell .popup {
  transition-delay: 0.66s;
}



/* ========== SECTION 2 - content animation ========== */
.section-two > .fp-tableCell h1,
.section-two > .fp-tableCell p {
  transform: translateY(1000px);
  opacity: 0;
  transition: transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity 0.66s ease-in-out;
}
.section-two > .fp-tableCell img {
    transform: translateX(-1000px);
  opacity: 0;
  transition: transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity 0.66s ease-in-out;
}
.section-two.active > .fp-tableCell h1,
.section-two.active > .fp-tableCell p,
.section-two.active > .fp-tableCell img {
  transform: translateX(0);
  opacity: 1;
}

.section-two.active > .fp-tableCell img {
  transition-delay: 0.44s;
}

.section-two.active > .fp-tableCell h1 {
  transition-delay: 0.44s;
}

.section-two.active > .fp-tableCell p {
  transition-delay: 0.44s;
}

.section-two.active > .fp-tableCell p + p {
  transition-delay: 0.66s;
}
.section-two.active > .fp-tableCell p + p + p {
  transition-delay: 0.88s;
}
/* ========== SECTION 3 - content animation ========== */

.section-three > .fp-tableCell .blog-post-column {
  transform: translateX(1000px);
  opacity: 0;
  transition: transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity 0.66s ease-in-out;
}
.section-three > .fp-tableCell h1,
.section-three > .fp-tableCell h3 {
  transform: translateY(-1000px);
  opacity: 0;
  transition: transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity 0.66s ease-in-out;
}
.section-three.active > .fp-tableCell h1,
.section-three.active > .fp-tableCell h3 {
  transform: translateY(0);
  opacity: 1;
}
.section-three.active > .fp-tableCell .blog-post-column {
  transform: translateX(0);
  opacity: 1;
}

.section-three.active > .fp-tableCell h1,
.section-three.active > .fp-tableCell h3 {
  transition-delay: 0.22s;
}

.section-three.active > .fp-tableCell .blog-post-column:nth-child(1) {
  transition-delay: 0.22s;
}

.section-three.active>.fp-tableCell .blog-post-column:nth-child(2) {
  transition-delay: 0.44s;
}
.section-three.active>.fp-tableCell .blog-post-column:nth-child(3) {
  transition-delay: 0.66s;
}
.section-three.active>.fp-tableCell .blog-post-column:nth-child(4) {
  transition-delay: 0.88s;
}

/* ========== SECTION 4 - content animation ========== */
.section-four > .fp-tableCell h1,
.section-four > .fp-tableCell h3 {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity 0.66s ease-in-out;
}

.section-four.active > .fp-tableCell h1,
.section-four.active > .fp-tableCell h3 {
  transform: translateX(0);
  opacity: 1;
}

.section-four.active > .fp-tableCell h3 {
  transition-delay: 0.22s;
}

/* ========== SECTION 5 - content animation ========== */
.section-five > .fp-tableCell h1,
.section-five > .fp-tableCell h3 {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity 0.66s ease-in-out;
}
.section-five > .fp-tableCell i {
    transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity 0.66s ease-in-out;
}
.section-five.active > .fp-tableCell h1,
.section-five.active > .fp-tableCell h3,
.section-five.active > .fp-tableCell i {
  transform: translateX(0);
  opacity: 1;
}

.section-five.active > .fp-tableCell h1,
.section-five.active > .fp-tableCell h3,
.section-five.active > .fp-tableCell i {
  transition-delay: 0.22s;
}


/* ========== SECTION 6 - content animation ========== */
.section-six > .fp-tableCell h1 {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.section-six.active > .fp-tableCell h1 {
  opacity: 1;
}

.section-six.active > .fp-tableCell h1 {
  transition-delay: 0.66s;
}