// Place all the styles related to the Api::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recommend-container {
  padding-bottom: 35px;
}

.rec-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid hsla(0, 0%, 100%, .13);
  background-color: transparent;
}

.rec-list-left {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  color: hsla(0, 0%, 100%, .50);
}

.rec-button {
  padding-left: 50px;
}

.recUsername {
  color: white;
  font-weight: bold;
}

.rec-avatar {
  height: 37px;
  width: 37px;
  border-radius: 3px;
  margin-right: 10px;
}

i.follow-plus {
  color: hsla(0, 0%, 100%, .2);
  font-size: 27px;
}

i.follow-plus:hover,
.dashboard-main-right > ul > a > i:hover {
  color: #00b8ff;
}

//footer-links
.dashboard-main-right > ul {
  position: fixed;
  bottom: 10px;
}

.dashboard-main-right > ul > a > i {
  color: hsla(0, 0%, 100%, .13);
  font-size: 27px;
  padding-right: 10px;
}




// following
.following-index-container {
  background: white;
  border-radius: 10px;
  width: 75%;
  height: 400px;
  // display: flex;
  // flex-direction: column;
  margin-top: 150px;
  margin-left: 200px;
  text-align: center;
  // justify-content: center;
  overflow-y: auto;
 
}
::-webkit-scrollbar {
  display: none;
}

.following-index-container h2 {
  position: sticky;
  top: 0;
  font-weight: bolder;
  margin-bottom: 50px;
  font-family: Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
  font-size: 18px;
}

.following-index-container i {
  position: absolute;
  bottom: 26%;
  font-size: 18px;
}

.following-index-container img {
  float: left;
  height: 45px;
  width: 45px;
  border-radius: 4px;
  padding-left: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.following-index {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 text-align: left;
}

.following-name {
  padding-top: 20px;
  // padding-left: 15px;
  font-weight: bold;
}
