// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// -- INPUTS, BUTTONS, AND ALINKS --


.sessionOptButtons { //sessionOptButtons
  position: absolute;
  z-index: 20;
  top: 10px;
  right: 20px;
  font-weight: 700;
  line-height: 22px;
  width: 80px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid white;
  background-color: white;
  padding: 5px 5px 5px 5px;
}

.sessionOptButtons:active {
  opacity: 0.8;
}

//  -- session form ERRORS -- 
// .section .renderErrors { //need to add transition to slide errors down, once cliking submit button
//   text-align: center;
//   padding: 14px 15px;
//   font-family: Helvetica, sans-serif;
//   font-size: 14px;
//   color: white;
//   line-height: 16px;
//   background: rgba(0,0,0,0.33);
// }

// --h1 for each sections -- 











//clear fix//

body {
  min-height: 100%;
  max-width: 100%;
};
h1 {
  color: white;
  font-size : 42px;
  font-family: Gibson,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;
}
p {

}
a {

}
button {
  font: 14px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  border-radius: 10px;
}

.section .fp-tableCell {
  vertical-align: initial
}

// Navbar //

.navbar-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 5%;
  z-index: 1;
  padding: 15px 5px 5px 15px;
}

.navbar-header img { //tumblr logo on top left
  height: 70%;
  width: auto;
  padding-left: 200px;
}
//navagation//
// -- NAV ANIMATIONS -- 
// resource used: https://github.com/alvarotrigo/react-fullpage#examples
#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
.fp-slidesNav ul li a.active span {
  background-color: white !important;
}

// Need to refactor by putting this after css on page so I can remove !important//
#fp-nav ul li a span {
  border: 4px solid gray !important;
  background-color: transparent !important;
  width: 12px !important;
  height: 12px !important;
  margin: 0 !important;
}
#fp-nav ul li {
  padding: 4px;
}

#fp-nav {
  position: absolute; 
  left: 15px;
  width:10px;
}
//Session-One// 
//Home// 

.home-container {
  margin: 15% auto auto auto;
  width: 20%;
  padding: 10px;
}

.center {
  text-align: center;
}

.splash-header {
  font-style: Bookman Old Style Bold;
  color: white;
  font-size: 80px;
  font-weight: bolder;
  text-align: center;
  text-align: center;
  margin: auto auto 0px auto;
  width: 232px;
  height: 50px;
}

.splash-sub {
    margin: 13% auto 5% auto;
    text-align: center;
    font-size: 15px;
    color: white;
}
.home-button {
  background-color: transparent;
  margin: 8px;
}

.home-button p {
  width: 18vw;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 11px;
}

.register-button {
  color: white;
  background-color: #00b8ff;
  border: 1px solid #00b8ff;
  border-radius: 5px;
  z-index: 2;
}

.login-button {
  color: #444;
  border: 1px solid white;
  background-color: white;
  border-radius: 5px;
  z-index: 2;
}

input[type=text], input[type=password] {
  width: 300px;
  text-align: left;
  font: 16px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  border: 1px solid #d5d9dd;
  padding: 11px 10px 11px 13px ;
};

input[type=submit] {
  width: 300px;
  margin-top: 10px;
  text-align: center;
  color: white;
  font: 16px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  box-sizing: border-box;
  border: 1px solid #00b8ff;
  background-color: #00b8ff;
  padding: 11px 10px 11px 13px;
}

.renderErrors {
  width: 300px;
  margin: 10px auto 0px auto;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.7;
}

.renderErrors p ul li{
  color :white;
  text-align: center;
  padding: 10px;
  opacity: 1;
}
.popup {
  background-color: #00cf35;
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  width: 100%;
}
.session-one-bottom {
  color: white;
  padding: 2px;
}
//Session-One//
//Login//

.login-form h1 {
  font-style: Bookman Old Style Bold;
  text-align: center;
  margin: auto auto 15% auto;
  width: 232px;
  height: 50px;
  padding: 0px;
}

.login-form-container {
  margin: auto;
  text-align: center;
  width: 20%;
  padding-top: 15%;
  background: transparent;
}

.section-one-button { //What is tumblr?
  background-color: #00cf35;
  font: 16px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding: 8px 0px 8px 0px;
}

.section-one img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

//Session-Two//
.section-two {
  background-color:#00cf35;
}
.session-two-header {
  position: absolute;
  bottom: 10%;
  left: 0px;
  right: 0px;
  color: #fff;
  text-align: center;
  line-height: 1;
  margin-bottom: 15px
}

.babybird {
  position: absolute;
  height: 30%;
  width: auto;;
  top: 30%;
  left:0;
  right: 0;
  z-index: 20;
  margin: 0px auto 0px auto;
}

//Session Three// 
.section-three {
  background-color: #7c5cff
}
.session-three-header {
  padding: 5% 0px 0px 5%;
}
.section-three p {
  padding: 10px 0px 0px 5%;
  color: white;
}
//Session-Four//
.section-four {
  background-color: #001935
}

//Session-Five//
.section-five {
  background-color: #ff8a00
}