// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  height: 100%;
  width: 100%;
};

.section .loginform {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 20%;
  padding-top: 12%;
  background: transparent;
}

// -- INPUTS, BUTTONS, AND ALINKS --
input[type=text], input[type=password] {
  width: 100%;
  text-align: left;
  font: 16px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  border: 1px solid #d5d9dd;
  border-radius: 2px;
  padding: 11px 10px 11px 13px ;
};

input[type=submit] {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  color: white;
  font: 16px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-weight: 700;

  box-sizing: border-box;
  border: 1px solid #00b8ff;
  background-color: #00b8ff;
  border-radius: 2px;
  padding: 11px 10px 11px 13px;
}

a, button { //sessionOptButtons
  height: 32px; 
  line-height: 22px;
  text-align: center;
  vertical-align: top;
  font: 14px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  
  box-sizing: border-box;
  border: 1px solid white;
  background-color: white;
  border-radius: 2px;
  padding: 5px 13px 7px 13px;
}
//  -- ERRORS -- 
.section .renderErrors { //need to add transition to slide errors down, once cliking submit button
  text-align: center;
  padding: 14px 15px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  line-height: 16px;
  // background: rgba(0,0,0,0.33);
}


/* Effect */

/* ========== SECTION 1 - content animation ========== */
.section-one > .fp-tableCell h1 {
  transform: translateY(-1000px);
  opacity: 0;
  transition: transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity 0.8s ease-in-out;
}

.section-one.active > .fp-tableCell h1 {
  transform: translateY(0);
  opacity: 1;
}

.section-one > .fp-tableCell p {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.8s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity 0.8s ease-in-out;
}

.section-one > .fp-tableCell p + p {
  transform: translateX(-100%);
}

.section-one > .fp-tableCell p + p + p {
  transform: translateX(0) translateY(0);
  transform: translateY(1000px);
}

.section-one.active > .fp-tableCell p {
  transform: translateX(0);
  opacity: 1;
}

.section-one.active > .fp-tableCell p {
  transition-delay: 0.22s;
}

.section-one.active > .fp-tableCell p + p {
  transition-delay: 0.44s;
}

.section-one.active > .fp-tableCell p + p + p {
  transition-delay: 0.66s;
}

/* ========== SECTION 2 - content animation ========== */
.section-two > .fp-tableCell h1,
.section-two > .fp-tableCell p {
  transform: translateY(-1000px);
  opacity: 0;
  transition: transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity 0.66s ease-in-out;
}

.section-two.active > .fp-tableCell h1,
.section-two.active > .fp-tableCell p {
  transform: translateY(0);
  opacity: 1;
}

.section-two.active > .fp-tableCell h1 {
  transition-delay: 0.22s;
}

.section-two.active > .fp-tableCell p {
  transition-delay: 0.44s;
}

.section-two.active > .fp-tableCell p + p {
  transition-delay: 0.66s;
}
.section-two.active > .fp-tableCell p + p + p {
  transition-delay: 0.88s;
}
/* ========== SECTION 3 - content animation ========== */
.section-three > .fp-tableCell h1,
.section-three > .fp-tableCell p {
  transform: translateY(1000px);
  opacity: 0;
  transition: transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity 0.66s ease-in-out;
}

.section-three.active > .fp-tableCell h1,
.section-three.active > .fp-tableCell p {
  transform: translateY(0);
  opacity: 1;
}

.section-three.active > .fp-tableCell h1 {
  transition-delay: 0.22s;
}

.section-three.active > .fp-tableCell p {
  transition-delay: 0.44s;
}

.section-three.active > .fp-tableCell p + p {
  transition-delay: 0.66s;
}

.section-three.active > .fp-tableCell p + p + p {
  transition-delay: 0.88s;
}
/* ========== SECTION 4 - content animation ========== */
.section-four > .fp-tableCell h1,
.section-four > .fp-tableCell p {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity 0.66s ease-in-out;
}

.section-four.active > .fp-tableCell h1,
.section-four.active > .fp-tableCell p {
  transform: translateX(0);
  opacity: 1;
}

.section-four.active > .fp-tableCell p {
  transition-delay: 0.22s;
}

.section-four.active > .fp-tableCell p + p {
  transition-delay: 0.44s;
}

.section-four.active > .fp-tableCell p + p + p {
  transition-delay: 0.66s;
}
/* ========== SECTION 5 - content animation ========== */
.section-five > .fp-tableCell h1,
.section-five > .fp-tableCell p {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.66s cubic-bezier(0.16, 0.68, 0.43, 0.99),
    opacity 0.66s ease-in-out;
}

.section-five.active > .fp-tableCell h1,
.section-five.active > .fp-tableCell p {
  transform: translateX(0);
  opacity: 1;
}

.section-five.active > .fp-tableCell p {
  transition-delay: 0.22s;
}

.section-five.active > .fp-tableCell p + p {
  transition-delay: 0.44s;
}
.section-five.active > .fp-tableCell p + p + p {
  transition-delay: 0.66s;
}

/* ========== SECTION 6 - content animation ========== */
.section-six > .fp-tableCell h1,
.section-six > .fp-tableCell p {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.section-six.active > .fp-tableCell h1,
.section-six.active > .fp-tableCell p {
  opacity: 1;
}

.section-six.active > .fp-tableCell p {
  transition-delay: 0.33s;
}

.section-six.active > .fp-tableCell p + p {
  transition-delay: 0.66s;
}
.section-six.active > .fp-tableCell p + p + p {
  transition-delay: 0.99s;
}
